{% extends "base.html" %}
{% load static %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account/account.css' %}">
{% endblock extra_css%}

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-7 mx-auto text-center">

              <h3 class="pt-4 font-weight-bold">Delete Account</h3>
              <p>By clicking on the link below, your account will be deleted.</p>
              <a class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100"
                href="{% url 'account:delete_user' %}">Delete</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}