@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

#intro {
  background-image: url("https://images.pexels.com/photos/1660030/pexels-photo-1660030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul li a:hover {
  color: #ccc;
  border: 1px solid #ccc;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

/* Bootstrap Over-ride */
@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 24px;
  }
}

/* Footer */
.footer > div > div > ul > li {
  padding-bottom: 8px;
}

/* input fields */
input::placeholder {
  text-align: center;
}

/* basket */
.basket-qty {
  color: #fff;
  background: #d42114;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  height: 18px;
  width: 18px;
  box-sizing: content-box;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-btn {
  position: relative;
}

.basket-btn:hover,
.basket-btn:focus,
.basket-btn:active,
.basket-btn.active {
  color: #d42114;
  transition-duration: 0.4s;
  background-color: #fff;
}
