{% extends "../account_base.html" %} {% block title %}{{user.name}} | Wishlist{% endblock %} {% block sub-content %}
<div class="col-12 mx-auto text-center">
  <h4 class="mb-3">{{user.name}}'s Favorites</h4>
  <hr />
  <h5>Manage Your Favorite Items</h5>
  <hr />

  {% if wishlist %} {% for product in wishlist %}
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        {% for image in product.product_image.all %} {% if image.is_feature %}
        <img src="{{ image.image.url }}" class="img-fluid d-block p-2" alt="{{ image.image.alt_text }}" />
        {% endif %} {% endfor %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.title }}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><small class="text-muted">{{product.regular_price }} SEK</small></p>
          <br />
          <a class="btn btn-warning btn-sm" href="{% url 'account:user_wishlist' product.id %}">Remove Favorites</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <p class="card-text">You haven't added any products to your wishlist yet</p>
  {% endif %}
</div>
{% endblock %}
