{% extends './base.html' %} {% load static %} {% block title %}About Us{% endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-center mt-1">
    <div class="col-sm-12 p-4 text-center">
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias tempore aut animi! Sequi dolor quis, sunt
        quaerafontt, tempore aut nostrum ad vel voluptatibus, facilis quibusdam quo modi magnam non blanditiis. Nobis
        eos maiores deleniti iure, consequatur sequi ducimus nam fugiat eligendi, quas deserunt, omnis maxime error.
        Dolores fuga veritatis assumenda.
      </p>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <img
        class="img-fluid img-about rounded pb-3"
        src="https://images.pexels.com/photos/4057691/pexels-photo-4057691.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
    </div>
    <div class="col-md-3 col-sm-12">
      <img
        class="img-fluid img-about rounded pb-3"
        src="https://images.pexels.com/photos/4057695/pexels-photo-4057695.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
    </div>
    <div class="col-md-3 col-sm-12">
      <img
        class="img-fluid img-about rounded pb-3"
        src="https://images.pexels.com/photos/3338497/pexels-photo-3338497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
    </div>
    <div class="col-md-3 col-sm-12">
      <img
        class="img-fluid img-about rounded mb-5"
        src="https://images.pexels.com/photos/3296280/pexels-photo-3296280.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock content %}
