{% extends 'base.html' %} {% load static %} {% block title %}About Us{% endblock %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-center mt-1">
    <div class="col-sm-12 p-4 text-center">
      <h1>About Us</h1>
      <hr />
      <h3>Heathy food is our lifestyle</h3>
      <p>
        We want to inspire you to a Healthy Lifestyle & with us you can feel confident that we have made all the important choices
        for your Health & our Planet! We carefully select all our products & are happy to choose organic with full control & are
        transparent at all levels! We produce all our food on site & collaborate with several local players. Our fruit &
        vegetables are hand-picked daily by our local greengrocer!
      </p>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <img
        class="img-fluid img-about rounded pb-3"
        src="https://images.pexels.com/photos/7456525/pexels-photo-7456525.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt="greens"
      />
    </div>
    <div class="col-md-3 col-sm-12">
      <img
        class="img-fluid img-about rounded pb-3"
        src="https://images.pexels.com/photos/6097841/pexels-photo-6097841.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt=""
      />
    </div>
    <div class="col-md-3 col-sm-12">
      <img
        class="img-fluid img-about rounded pb-3"
        src="https://images.pexels.com/photos/7456538/pexels-photo-7456538.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt=""
      />
    </div>
    <div class="col-md-3 col-sm-12">
      <img
        class="img-fluid img-about rounded mb-5"
        src="https://images.pexels.com/photos/1580466/pexels-photo-1580466.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock content %}
