{% extends "base.html" %}
{% load static %}
{% block title %}{% if category %}{{ category.name }}{% else%}Products{% endif %}{% endblock %}
{% block content %}

<div class="container">
  <div class="col-12">
    <h1 class="h2">{{ category.name|title }}</h1>
  </div>
  <div class="col-12 d-flex justify-content-between">
    <div><b>Popular</b> products purchased</div>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row">
    <div class="album">
      {% if not products %}
      <div class="col-12">There are currently no products active <a href="{% url 'store:home' %}">back to homepage.</a></div>
      {% else %}
      <div class="row">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card border-0">
            <div class="card-body px-0 text-center">
              <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                {% for image in product.product_image.all %} {% if image.is_feature%}
                <img class="img-fluid" src="{{ image.image.url }}" alt="{{ image.image.alt_text }}" />
                <p class="card-text">{{ product.title }}</p>
              </a>
              <div class="fw-bold mt-1">£{{product.regular_price}}</div>
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %} 