<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid pb-2">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:about'%}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'store:product_all'%}">Order</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Browse by Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for c in categories %} <li {% if category.slug == c.slug %}class="selected" {% endif %}>
            <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
    <div class="nav-icons">
      {% if user.is_authenticated %}
      <!-- logout button -->
      <a type="button" role="button" href="{% url 'account:logout' %}" class="btn btn-outline-secondary border-0">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            fill="white"
            class="bi bi-door-closed"
            viewBox="0 0 16 16"
          >
            <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z" />
            <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" />
          </svg>
        </div>
        <span><small class="text-white">Logout</small></span>
      </a>
      <!--Account button -->
      <a type="button" role="button" href="{% url 'account:dashboard' %}" class="btn btn-outline-secondary text-white border-0">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            fill="currentColor"
            class="bi bi-person"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
            />
          </svg>
        </div>
        <span><small>{{user.full_name}}</small></span>
      </a>
      {% else %}
      <a type="button" role="button" href="{% url 'account:dashboard' %}" class="btn btn-outline-secondary text-white border-0">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            fill="currentColor"
            class="bi bi-person"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
            />
          </svg>
        </div>
        <span class="fs15 fw500">Log-in</span>
      </a>
      {% endif %}
      <!-- basket -->
      <a type="button" role="button" href="{% url 'basket:basket_summary' %}" class="text-decoration-none text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-bag-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"
          />
          {% with total_qty=basket|length %}
          <div id="basket-qty" class="d-inline-flex basket-qty">
            {% if total_qty > 0 %} {{ total_qty }} {% else %} 0 {% endif %}
          </div>
          {% endwith %}
        </svg>
      </a>
    </div>
  </div>
</nav>
<div class="alert alert-success fw600 rounded-0 border-0 text-center m-0" role="alert">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="18"
    height="18"
    fill="currentColor"
    class="bi bi-info-circle me-2"
    viewBox="0 0 16 16"
  >
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
    <path
      d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
    />
  </svg>
  COVID-19 -
  <a href="https://en.wikipedia.org/wiki/COVID-19" target="_blank" class="text-decoration-none"
    >Click here for our latest updates</a
  >
  the situation and how it affects delivery times. Thank you for your patience and support.
</div>
