{% extends "./base.html" %} {% load static %}
<!-- ------------------------------- -->
{% block title %}Order{% endblock %} {% block content %}

<main class="pt-5 vh-100">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="pb-3 h5 text-center">All Products</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for product in products %}
        <div class="col text-center mx-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none text-center fw-bold" href="{{ product.get_absolute_url }}"
                  ><img class="img-fluid mb-2" alt="Responsive image" src="{{ product.image.url }}" /> {{ product.title }}</a
                >
                <br />
                <small>{{product.description}}</small>
              </p>
              <small>{{product.price}} SEK</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
</main>
