{% extends "base.html" %} {% load static %} {% block title %}Payment{% endblock %} {% block content %}

  <div class="row no-gutter justify-content-center">
    <div class="col-lg-4">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div id="payment-form" class="col-12 mx-auto">
            <h3 class="mb-3">Billing address</h3>
            <!-- Error messages in this element -->
            <div id="card-errors" class="a" role="alert"></div>
            <form>
              <div class="row text-center">
                <div class="col-12 mb-2">
                  <input type="text" class="form-control" id="custName" placeholder="Full Name" required />
                  <div class="invalid-feedback">Valid Full Name</div>
                </div>
                <div class="col-12 mb-2">
                  <input type="email" class="form-control" id="email" placeholder="Email Address" />
                  <div class="invalid-feedback">Please enter a valid email address for shipping updates.</div>
                </div>
                <div class="col-12 mb-2">
                  <input type="text" class="form-control" id="custAdd" placeholder="Address 1" required />
                  <div class="invalid-feedback">Please enter your shipping address.</div>
                </div>
                <div class="col-12 mb-2">
                  <input type="text" class="form-control" id="custAdd2" placeholder="Apartment or Suite" />
                </div>
                <div class="col-12 mb-2">
                  <input type="text" class="form-control" id="postCode" placeholder="Postcode" required />
                  <div class="invalid-feedback">Postcode required.</div>
                </div>
                <div class="col-12 mb-2">
                  <input class="form-control" id="city" placeholder="City" required />
                  <div class="invalid-feedback">Please select a valid City.</div>
                </div>
                <div class="col-12 mb-2">
                  <input class="form-control" id="country" placeholder="Country" required />
                  <div class="invalid-feedback">Please provide a valid Country.</div>
                </div>
              </div>

              <hr class="my-4" />
              <h4 class="mb-3">Payment</h4>
              <label for="card-element">Credit or debit card</label>
              <div id="card-element" class="form-control form-control-payment">
                <!-- Payment elements will appear here -->
              </div>
              <hr class="my-4" />
              <button id="submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}">Pay</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  //   Make csrf token available in JS files

  var CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/payment_form.js' %}" data-rel-js></script>

{% endblock %}
