{% extends "../account_base.html" %} {% load static %}
<!-- -------------------------------------------------------------------------------------------------------- -->
{% block title %}Password Reset Request{% endblock %} {% block sub-content %} {% if user.is_authenticated %}
<form class="account-form rounded" method="post" action="{% url 'account:pwdreset' %}">
  <p class="h3 mb-4 font-weight-bold text-center">Want to change your password?</p>
  <p class="text-center">
    We'll send an email with the reset password link to <b>{{user.email}}</b> <br />
    <small>Please make sure the email address matches the address provided upon registration.</small>
  </p>
  {% if form.errors %}
  <div class="alert alert-primary" role="alert">Error: Please try again!</div>
  {% endif %} {% csrf_token %} {{ form.email }}
  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Send e-mail">Send e-mail</button>
</form>
{% else %}
<form class="account-form p-4 rounded" method="post" action="{% url 'account:pwdreset' %}">
  <p class="h3 mb-4 font-weight-bold text-center">Forgotten your password?</p>
  <p class="text-center">
    We'll send you an email with the reset password link. <br />
    <small>Please make sure the email address matches the address provided upon registration.</small>
  </p>
  {% if form.errors %}
  <div class="alert alert-primary" role="alert">Error: Please try again!</div>
  {% endif %} {% csrf_token %} {{ form.email }}
  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Send e-mail">Send e-mail</button>
  <p class="text-center"><a class="text-decoration-none text-dark" href="{% url 'account:login' %}">Log-in</a></p>
</form>
{% endif %} {% endblock %}
